@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    font-family: 'Rubik';
    margin: 20px 100px;
}

::selection {
    background: #009C6D;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border: solid #F76B6B;
    border-width: 0 0 5px 0;
}

main {
    margin: 0px 150px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
}

.nomeMusica {
    margin-left: 40px;
    font-size: 20px;
    margin-bottom: 0;
}

.nomeArtista {
    margin-top: 0;
    margin-left: 40px;
    font-size: 16px;
}

.imagem {
    margin-bottom: 0;
}

.slaDeMusica {
    background: rgba(211, 211, 211, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    align-items: center;
    padding: 30px;
    display: flex;
    top: 90%;
    position: fixed;
    width: 80%;
    height: 70px; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    bottom: 0px;
    margin: auto;
    border-radius: 200px;
}

.nomes {
    display: column;
    text-align: left;
}

.play {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

.curtir {
    width: 50px;
    height: 50px;
    justify-content: right;
    text-align: right;
    margin-right: 0;
    position: absolute;
    right: 3%;
}